
<div class= "container">
<h2> Learn a new language with new friends</h2>

  <button type="button" class="btn btn-primary btn-lg"><%= link_to "Register", new_user_registration_path %></button>

  </div>